.game {
  &__logo {
    height: 4.4vh;
    margin-bottom: 7px;
    position: absolute;
    top: 10vh;
    z-index: 2;
  }
  &__label {
    color: $error;
    font-family: "Half-75";
    font-size: 20px;
  }
  &__board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &-background {
      position: relative;
      background-color: rgba(255, 255, 255, 0.2);
      height: $tetris-grid-height;
      width: calc(#{$tetris-grid-height} / 2);
    }
  }
  &-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: 1fr;
  }
  &__cat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &-lobby {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
      display: flex;
      flex-direction: column;
      width: calc(#{$tetris-grid-height} / 2);
      height: $tetris-grid-height;
      justify-content: space-evenly;
      align-items: center;
    }
    &__players-container {
      text-align: center;
    }
    & .game__chat-container {
      width: 90%;
      height: auto;
    }
    &__scores-container {
      font-size: 12px;
      & td {
        min-width: 6.5vh;
        text-align: center;
      }
    }
    & .quit-game-btn {
      width: 150px;
      height: 34px;
    }
    & .game__chat__submit {
      color: black !important;
    }
    &__start-btn {
      width: 150px;
      margin-bottom: 10px;
      height: 34px;
      border-radius: 2px;
      color: white;
      background-color: $green;
      &:hover {
        @include white-shadow-inset;
      }
    }
    &__btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__opponents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    &-container {
      height: $opponents-container-height;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 70%;
      max-width: 45vh;
      padding: 0 50px;
      & p {
        font-size: 16px;
      }
    }
  }
  &__opponent {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .game__board-background {
        height: 20vh;
        width: 10vh;
      }
      & .board-pixel__piece {
        box-shadow: none;
        border: none;
        border-radius: unset;
      }
    }
  }
  &__chat {
    &-container {
      height: $chat-container-height;
      width: 280px;
      overflow: hidden;
      font-size: 14px;
      & .room-select-container {
        padding: 4px 7px;
        margin-bottom: 10px;
      }
      & input {
        text-align: start;
        padding-left: 7px;
        flex: 2 1 auto;
      }
    }
    &-message {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
    &__submit {
      @include white-bg-transparent-text;
      margin-left: 10px;
      padding-left: 7px;
      padding-right: 7px;
      font-size: 18px;
      border-radius: 2px;
    }
    &__send-container {
      display: flex;
    }
  }
  &__score {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    font-size: 40px;
    line-height: 40px;
  }
}
