// html,
// body,
// #tetris {
//   height: 100%;
//   margin: 0;
//   overflow: hidden;
// }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Half-39";
  font-size: 18px;
  line-height: 1.7;
  box-sizing: border-box;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Half-39";
  src: url("../assets/fonts/Half-39.eot");
  src: local("Half-39"),
    url("../assets/fonts/Half-39.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Half-39.woff2") format("woff2"),
    url("../assets/fonts/Half-39.woff") format("woff"),
    url("../assets/fonts/Half-39.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Half-75";
  src: url("../assets/fonts/Half-75.eot");
  src: local("Half-75"),
    url("../assets/fonts/Half-75.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Half-75.woff2") format("woff2"),
    url("../assets/fonts/Half-75.woff") format("woff"),
    url("../assets/fonts/Half-75.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
