.board-pixel {
  &__piece {
    box-shadow: inset 0 0 4px 3px rgba(255, 255, 255, 0.35);
    border-radius: 2px;
  }
  &--0 {
    background-color: rgb(146, 146, 146);
  }
  &--1 {
    border: 2px solid #01ffff;
    background-color: #01ffff;
  }
  &--2 {
    border: 2px solid #0000ff;
    background-color: #0000ff;
  }
  &--3 {
    border: 2px solid #ffaa00;
    background-color: #ffaa00;
  }
  &--4 {
    border: 2px solid #ffff00;
    background-color: #ffff00;
  }
  &--5 {
    border: 2px solid #01ff00;
    background-color: #01ff00;
  }
  &--6 {
    border: 2px solid #9900ff;
    background-color: #9900ff;
  }
  &--7 {
    border: 2px solid #ff0000;
    background-color: #ff0000;
  }
  &--8 {
    border: 2px solid #000000;
    background-color: #000000;
  }
  &--9 {
    border: 2px solid #77ffff;
    background-color: #77ffff;
  }
  &--10 {
    border: 2px solid #7c7cfd;
    background-color: #7c7cfd;
  }
  &--11 {
    border: 2px solid #fcd17d;
    background-color: #fcd17d;
  }
  &--12 {
    border: 2px solid #fcfc77;
    background-color: #fcfc77;
  }
  &--13 {
    border: 2px solid #7dff7d;
    background-color: #7dff7d;
  }
  &--14 {
    border: 2px solid #cb7eff;
    background-color: #cb7eff;
  }
  &--15 {
    border: 2px solid #ff0000;
    background-color: #ff0000;
  }
}
