.pieces-preview {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    margin-bottom: 7px;
  }
  &__pieces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: $tetris-grid-height / 2.2;
    width: $tetris-grid-height / 4;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.6);
    padding: 14px 0;
  }
  &__piece-container {
    display: grid;
    & .board-pixel__piece {
      height: $tetris-grid-height / 20;
      width: $tetris-grid-height / 20;
    }
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &--0 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
    &--3 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
