.room-select {
  &-container {
    border: 1px solid white;
    height: 100px;
    list-style-type: none;
    overflow: auto;
    border-radius: 2px;
  }
  &__option {
    cursor: pointer;
    &:hover {
      @include fifteen-percent-white-bg;
    }
    &--selected {
      @include white-bg-transparent-text;
      &:hover {
        @include white-bg-transparent-text;
      }
    }
  }
}
