$themes: (
  1: (
    backgroundColor: black,
    textColor: white,
    containerColor: rgb(77, 77, 77)
  ),
  2: (
    backgroundColor: white,
    textColor: black,
    containerColor: rgb(197, 197, 197)
  )
);
