$home-form-width: 250px;
$home-form-width-m: 90vw;

$home-form-error-width: 300px;
$home-form-error-width-m: 98vw;

$tetris-grid-height: 70vh;
$tetris-game-height: 80vh;
$chat-container-height: 200px;
$opponents-container-height: 55vh;
// $opponents-container-height: calc(
//   #{$tetris-grid-height} - #{$chat-container-height}
// );

$red: rgb(203, 92, 72);
$yellow: rgb(238, 190, 103);
$purple: rgb(125, 91, 156);
$blue: rgb(76, 95, 163);
$green: rgb(110, 176, 108);
$orange: rgb(216, 129, 70);
$salmon: rgb(232, 163, 152);
$error: rgb(167, 76, 59);
